
section.banner
	+relative


.slider
	height: $slider-height
	.slides
		height: $slider-height
	h2
		+white
		+fs(4, 120%, 700)
		+upper
		+mb($space)
		+w100
		+mt(10%)
	
	p
		+white
		+fs(2.4, 140%, 400)
		+w100

	
	.caption
		+tCenter
		top: 0px
		height: 100%
		.caption-container
			max-width: 70%
			margin: 0 auto
	
		.caption-container.left
			+tLeft
			+left

		.caption-container.right
			+tRight
			+right

	.indicators
		bottom: 10px
		text-align: $bullet-align
		+z(99)
		li.indicator-item 
			border: $border-bullet 
			width: $size-bullet 
			height: $size-bullet 
			margin: 0 $space-bullet 
			+bg($color-bullet)
			+radius(100%)
			+transition
			&.active
				+bg($color-bullet_active)
				border: $border-bullet_active 

	
	
.slider 
	+mobil
		h2
			+fs(2.4, 120%, 700)
		p
			+fs(1.6, 140%, 400)

	+fluid	
		img
			+background
	

