//@carrousel

section.carousel
	+bc($carousel-bgColor)
	+patt($carousel-bgPattern)
	+pb(20px)
	+m0
	+w100
	+tCenter
	img
		height: 120px
		+w100
	h2
		+title-home
		+co($carousel-colorTitle)
		+fs(2, 100%, 400)
		margin: 20px 0
		+bb(thin solid $carousel-colorBordertitle)
	h3
		margin: $space 0 0
		+fs(1.6, 100%, 400)
		+tCenter
		+co($carousel-colorSubtitle)
	
	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto
		bottom: -30px $i
	
	.bx-wrapper .bx-pager.bx-default-pager a
		+bg($carousel-bgBullet $i)
		+size($carousel-sizeBullet)
		+radius(100%)
		margin: 0 $carousel-spaceBullet $i
		border: $carousel-borderBullet
		+transition
	.bx-wrapper .bx-pager.bx-default-pager a.active
		+bg($carousel-bgBullet_active $i)
		border: $carousel-borderBullet_active

	
	.container-responsive
		width: 100%
		+centered
	
//section.carousel
//	+mobil
//		.container-responsive
//			width: 70%
//			+b2
