//@highlight	


=highlight-efect
	@if $highlight-efect 
		@debug "$highlight-efect is #{$highlight-efect}"
		box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21)


	@else
		@debug "$highlight-efect is #{$highlight-efect}"

	
		
	
section.highlight
	+tCenter
	+bg($highlight-bgColor)
	+patt($highlight-bgPattern)
	+relative
	+tCenter
	margin: 0
	padding: 30px 0 10px
	h2
		+title-home
		+co($highlight-colorTitle)
		+bb(thin solid $highlight-colorBordertitle)
		+pb(10px)
		
	

	a
		+block
	
	article
		+tCenter
		+pointer
		+block
		+bgWhite
		+transition
		height: $highlight-height
		+pb($space)
		&:hover
			+highlight-efect

		figure
			height: $highlight-heightFigure
			+background
			
		
		h3
			+tLeft
			padding: 0 10px 0 0
			+fs(1.8, 130%, 600)
			+co($highlight-colorSubtitle)
			+block
			+relative
			margin: 15px 20px

	
		p
			+transition
			padding: 0 20px
			+tLeft
			+co($highlight-colorTxt)
			+fs(1.4, 140%, 300)

	


section.highlight.myAccordeon
	+relative
	padding: 20px
	+bg($highlight-bgColor)
	+patt($highlight-bgPattern)
	+tLeft
	h2
		+white
		+wauto
		+fs(2.6, 100%, 500)
		+upper
		+ib
		padding: 0 40px 10px 10px
		+bb(thin solid $gray-light)
		margin: 20px 0 10px
		+relative
	article
		flex: 1
		height: 408px
		+relative
		+pointer
		padding: 0
		transition: all 10ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
		+hover
			.over
				+bgBlack(.8)
			figure
				+opa(1)
		.over
			+bgBlack(.5)
			+top-left(40px, 0)
			+w100
			+w100
			padding: 20px
			max-height: 120px
			+noScroll
			+transition(.4s)
		
				
		figure
			+background
			+opa(.7)
			+transition(.4s)
			+s100
			img
				+s100

		h3
			+fs(1.8, 120%, 600)
			+white
			+upper
			+mb(20px)
			+mt(10px)
			+pr(15px)
			+pb(7px)

	
		.text
			+pt(10px)
			+pb(20px)
			+opa(0)
			transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
			+white
	
		.btnSec
			+none
			
	
	.myAccordeon-active 
		flex: 3 $i    
		transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
		+hover
			.over
				+bgBlack(.9)
		.over
			max-height: 260px $i
			+bgBlack(.9)
		 
		.text
			+opa(1)   
		figure
			+opa(1)
		.btnSec
			+block
	
section.highlight
	+tablet
		article
			height: $highlight-height + 30px
	+mobil
		article
			height: auto
			+mb(20px)
	
section.highlight.myAccordeon article
	+fluid
		flex: 100%

section.highlight.myAccordeon article .btnSec
	+fluid
		display: block