//@Info

section.info
	+relative
	+bg($info-bgColor)
	+patt($info-bgPattern)
	+tCenter
	margin: 0
	padding: $space-mini 0
	h1
		+title-home
		+co($info-colorTitle)
		+bb(thin solid $info-colorBorder)


	.text
		+ib
		+co($info-colorTxt)
		margin: 0px
		+fs(1.6, 150%, 400)
		+w100