//@titles

=title-section
	margin: 0
	padding: 20px
	+bg($color)
	+patt($highlight-bgPattern)
	+white
	margin: 0 0 20px
	+fs(3, 100%, 700)
	+upper

main   
	h1
		+title-section

	h2
		color: $color-subtitle
		margin: $space 0 0
	
