
*, *:before, *:after
	+cero
	+sizing


=font-site
	+font2

//select, input[type="text"], textarea
//	height: 35px
//	+fs(1.4, 35px, 400)
//	padding: 0 12px
//	+bg($gray-light )
//	border: thin solid $gray
//	+noShadow
//	outline: none $i
//	+noBorder
//	+w100
//	+radius(4px)
//	+gray-dark
//	+transition
//	+hover
//		border: thin solid $color
//	+focus
//		border: thin solid $color






main.faq
	.tab-content
		flex: 1
		padding: 0px
		min-height: 330px
		figure
			+w100
			height: 240px
			+noScroll
			+radius(10px)
	
			img
				+w100
		h2
			+fs(1.5, 120%, 600)
			+white
			+pointer
			+bg($color)
			border: thin solid $color
			+radius(0)
			+noFlex
			+w100
			padding: 10px 20px
			margin: 0px
			+transition
			+bb(1px solid white)
			+hover
				+bg($gray-dark)
				border: thin solid $gray-dark
			i
				+right
				+rotate(90)
				+transition
				+mt(2px)
	
		.text
			+none
			border: thin solid $gray-light
			padding: 10px
			+bgWhite
	
.accordeon-active
	display: block $i
	
main.faq .tab-content h2.faq-active
	+bg($gray-dark $i)
	border: thin solid $gray-dark $i
	i
		+rotate(-90)



.panel
	+bg($gray-light + 10)
	figure
		+left
		+figure
		border: 2px solid $gray-light
		+size(80px)
		+mr($space)
		img
			+s100
	h2
		+gray
	.text
		+fs(1.3, 150%, 400)

	

	
	
//@Pisados

.btn
	+bg($color)
	+white
	+hover
		+bg($color + 20)
		+white

.btnSec
	@extend .btn
	+bg($colorSec)
	+white
	+hover
		+bg($colorSec + 20)
		+white
	+focus
		+bg($colorSec + 40)
		+white

select, 
input[type="text"], 
input[type="password"],
textarea
	font-size: 1.3rem $i
	+co($gray $i)

	



//general

=anchor
	color: $anchor-color 
	+transition($anchor-transition)
	+noUnder
	+fs($anchor-sizeFont, 100%, 400)
	+hover
		+co($anchor-colorActive)

main a
	+anchor


ul,
ol
	+m0
	
p
	+para


=page
	+relative
	width: 70%
	+centered
	+fluid
		width: 90%
	
.wrapper
	+page



html
	font-size: 62.5%

body,
hmtl
	width: 100%
	height: 100%  
	margin: 0
	padding: 0
	overflow-x: hidden
	+font-site
	+fs(1.3, 100%, 400)
	+gray

*:focus
	outline: none
	border: none
	box-shadow: none
	
p

	+mb(0px)
	+lh(130%)
	+last
		+mb(0)

.btn-link
	+co($gray-dark)
	+fs(1.4, 100%, 500)
	+transition()
	+mt(10px)
	+hover
		+noUnder
		+co($color)




//.preload 
//	bottom: 0 
//	height: 100% 
//	left: 0 
//	position: fixed 
//	right: 0 
//	top: 0 
//	width: 100% 
//	z-index: 99999999999 
//	+bg(white url(#{$img}loading.gif) center center $nr)
//	+fluid
//		background-size: 50%
		

	//	+bg(white url(../img/logotipo.png) center center $nr)


.text
	+para
	
nav ul
	+noList


.bx-wrapper
	+mb(0)

.bx-viewport
	+noBorder
	+noShadow

		
.btn.return
	+right
	+mb(20px)
			


//@Alerts

.alert
	+page
	+fs(1.3, 130%, 300)
	+white
	padding: 10px
	+bgWhite
	+radius(4px)
	margin: 10px 0
	border: thin solid $gray-light
	p
		+co($in)
		+fs($in, $in, $in)
		+ib
		font-size: $in 
		vertical-align: middle
	i
		+mr(10px)
		+fs(3)
		+ib
		vertical-align: middle


.alert-error
	@extend .alert
	+bg($error)
	border: 2px solid $error - 10
	i
		+co($error - 30)
		
		
.alert-success
	@extend .alert
	+bg($success)
	border: 2px solid $success - 10
	i
		+co($success - 30)
		
	
	
//figure
//	+fluid
//		+noScroll
//		max-width: 100% $i
//		height: auto $i
//		img
//			max-width: 100% $i
//			height: auto $i

img
	max-width: 100%
	height: auto





section.social
	+top-right(220px, 10px)
	+fixed
	+z(9999999)
	a
		+size(30px)
		+radius(100%)
		+bg($colorSec)
		+tCenter
		+mb(5px)
		+block
		border: 2px solid $gray-light
		+transition()
		+hover
			+bg($color)
			border: 2px solid $color
		i
			+white
			+fs(1.6)
			+ib
			vertical-align: middle
			+mt(5px)
	

	
.return
	+mb(20px)

	
.panel
	margin: 0px 0 $space
	border: thin solid $gray-light
	padding: 20px
	+block


main.error-page
	+tCenter
	h1
		+white
		+fs(4, 150%, 700)
		margin: 20px 0
		+upper
	h2, a
		+fs(3, 150%, 700)
		+gray-dark
	a
		+under

	

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
	display: block
		



	

//@Date

=date
	+gray
	+w100
	+fs(1.3, 100%, 300)
	margin: $space-mini 0 
	i
		+gray
		+mr(5px)
	
.date,
.autor
	+date

a
	+transition($anchor-transition)

main
	+bg($gray-light + 20)
