@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900)


//FONTS

=font
	font-family: $font
	+fw(400)

=font1
	font-family: $font1
	+fw(400)

=font2
	font-family: $font2
	+fw(400)

=font3
	font-family: $font3
	+fw(400)



//=fontLight
//	font-family: $font1
//	+fw(300)
//
//=fontBold
//	font-family: $font5
//	+fw(700)

//=fontSerif
//	font-family: $font4
//	+fw(300)

=legible
	text-rendering: optimizelegibility

$font: 'Raleway', sans-serif
$font1: 'Open Sans', sans-serif
$font2: 'Roboto', sans-serif
$font3: 'Ubuntu', sans-serif





