=prefooter-active
	@if $prefooter-active
		@debug "$prefooter-active is #{$prefooter-active}"
		+bb(4px solid $footer-colorBorder)
	
	@else
		@debug "$prefooter-active is #{$prefooter-active}"

footer.fixed
	+bot-left

footer
	+w100

	+z(99999999)
	+co($footer-color)
	+prefooter-active
	+patt($footer-bgPattern)
	+bc($footer-bg)
	+fs(1.4, 100%, 400)
	a
		+co($color)
	.row
		+mb(0)

	nav
		+mt(10px)
		ul
			+w100
			+tCenter
			li
				+ib
				margin: 0 0px
				+br(thin solid $gray-light)
				a
					padding: 0 10px
		
					+upper
					+block
					+transition
					+co($footer-anchorColor)
					+hover
						+co($footer-anchorColor_hover)

			.last
				+noBorder


	.contact-info
		+w100
		margin: 10px 0

		+tCenter
		> div
			+ib
			margin: 0 5px
			i
				+mr(5px)
			a
				+co($footer-anchorColor)
				+under
				+hover
					+co($footer-anchorColor_hover)

	.ahorranito
		+tRight
		+mb(10px)
		a
			+ib
			+co($gray)
			+va
		.ahorranito-icon
			+ib
			+va

footer .ahorranito, 
footer .copyright
	+fluid
		+mb(10px)
		+tCenter
		+lh(120%)

footer nav ul li a,
footer .contact-info > div
	+mobil
		+lh(150%)

.ahorranito
	span
		+co(#1d9ad4)
		
	.ahorranito-icon 
		+img(ahorranito)
		background-position: center
		background-repeat: no-repeat
		display: inline-block
		height: 20px
		vertical-align: middle
		width: 20px


	