//@Header

=preheader-active
	@if $preheader-active
		@debug "$preheader-active is #{$preheader-active}"
		+bt(2px solid $header-colorBorder)

	@else
		@debug "$preheader-active is #{$preheader-active}"

=header-shadow
	@if $header-shadow
		@debug "$header-shadow is #{$header-shadow}"
		+shadow

	@else
		@debug "$header-shadow is #{$header-shadow}"



header
	+header-shadow
	+preheader-active
	+relative
	.row
		+mb(0)
		.col
			+p0
	.logo
		margin: $space-mini 0
		+block
		+w100
		height: $logo-height
		+background(contain)
		
//	.offset-l3	
//		+ml(0 $i)
//	nav
//		+pt(33px)
//		+bg($transparent)
//		li
//			a
//				+co($gray - 30)	
//				+bg($transparent)
//				+transition(.2s)
//				padding: 10px 20px
//				+hover
//					+co($colorSec $i)
//		.current
//			a
//				+co($colorSec)
//		
//	
//		.icon.right
//			+radius(0 $i)
//			+top-right(0, 20%)
//			+bg($transparent)
//			i
//				+white
//			a
//				+bg($color)
//				+hover
//					+bg($colorSec)
//		
//		.icon.right.last
//			+top-right(0, 20%)
//			+mr(40px)

	
.langs
	+top-right(0px, 0px)
	+noFont
	+bg($lang-bgColor)
	padding: 5px
	span,
	a
		+fs(1.3, 100%, 400)
		+ib
		+va
	span
		+co($lang-colorSeparator)
		margin: 0 5px
	a
		+co($lang-colorTxt)
		+hover
			+co($lang-colorHover)
	
	.active_idiomas
		+co($lang-colorActive)
	
header.fixed
	+top-left(20px, 0)
	+w100
	+z(999)
	.logo
		+none

	
